:root{
    --myMainC: #cdb4db;
    --myBackgroundColor: #cdb4db;
    --myfont:"AmoresaFont",sans-serif;
    --myfontSANS:"HelveticaFont",sans-serif;
    --myfontSERIF: "Bodoni Moda", serif;
    --myDarkColor:#161616;
}

@font-face {
    font-family: "AmoresaFont";
    src: url("./Amoresa/Amoresa.woff2") format("woff2");
}


@font-face {
    font-family: "BentonFont";
    src: url("./BENTON/Benton\ Modern\ Font\ Family/BentonModDispCond-Regular.otf") format("opentype");
}


html, body{
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0!important;
    padding: 0!important;
    height: 100%;
    
}
*::selection{
    background: var(--myMainC);
}


/* caricamento inizio */
.colLoading{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1300;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadingText{
    font-size: 4vw;
    color: rgb(62, 62, 62);
    text-align: center;
    font-weight: 200;
    line-height: 100%;
    text-transform: uppercase;
    opacity: 0;
}

.dots{
    font-size: 5vw;
    font-weight: bold;
}
/* fine caricamento */


nav{
    position: fixed;
    z-index: 101;
    top: 2vw;
    left: 0;
    mix-blend-mode: difference;
    height: 7%;
    background-color: crimson;
}

.navOverlay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 2vw;
}

.navOverlay div{
    color: white;
}

/* nav */
nav div{
    font-family: var(--myfont);
    font-size: .8vw;
    padding-top: 5px;
}

nav .menu, .closeButton{
    font-family: var(--myfontSERIF);
    text-transform: uppercase;
    border: none;
    position: fixed;
    right: 2vw;
    color: white;
    cursor: pointer;
    background: transparent;
    font-size: 1vw;
    
}
.closeButton{
    top: 2vw;
    right: 2vw;
    z-index: 1000000!important;
}


nav .title{
    transform: rotate(-12deg);
    line-height: 60%;
    color: white;
    position: absolute;
    left: 2vw;
    height: 2vw;
    width: 6vw;
}


.toTheTop{
    position: fixed;
    top: 100vh; 
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4000;
    
}

.through{
    font-size: 1vw;
    position: absolute;
    top: 0;
    
}

.the{
    position: absolute;
    left: .8vw;
    top: 30%;
}

.curtains{
    font-size: 1vw;
    position: absolute;
    left: 28%;
    top: 50%;
    
}

.videoTrailer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30vw;
    width: 30vw;
}




/* fine nav */

/* sezione 1 */
.section1{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    z-index: -1;
    border: 0;
}

.projectTitle{
    font-size: 10vw;
    position: absolute;
    mix-blend-mode: difference;
    /* background-color: red; */
    z-index: 1;
    font-family: var(--myfont);
    color: rgb(255, 255, 255);
    
}
.square {
    min-height: 100vh;
    width: 70vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    position: absolute;
    top: 0;
    z-index: -100;
}




.bottomText{
    position: absolute;
    bottom: 40px;
    font-size: 2.5vw;
    mix-blend-mode: difference;
    color: white;
    font-weight: 200;
    z-index: 9999;
}

/* fine sezione 1 */

a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}

.overlay{
    background-color: var(--myDarkColor);
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    bottom: -100%;
    overflow: hidden;
    z-index: 100;
    left: 0;
}

.overlay-menu{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.menu-items{
    position: relative;
    top: 7vw;
    width: 35%;
}



.menu-item{
    z-index: 2;
    color: white;
    font-size: 3vw;
    line-height: 90%;
}
.movieArrow{
    font-size: 1.5vw;
    transform:translateX(.7vw) translateY(-.7vw);
    /* position: absolute; */
    transition: .5s ease-in-out;
}
.movie-item:hover .movieArrow{
    transform:translateX(1.5vw) translateY(-.6vw) rotate(35deg);
}
.movie-item{
    width: 12vw;
}

.item {
    left: 2vw;
    color: white;
    width: auto;
    height: 3.3vw;
    display: flex;
    line-height: 3.3vw;
    position: relative;
    z-index: 20;
    display: inline-block; 
    overflow: hidden;
    font-weight: 200;
    text-transform: lowercase;
}

.item.active {
    font-family: var(--myfontSERIF);
    color: var(--myBackgroundColor)!important;
    pointer-events: none;
}

.overlayMenu{
    color: white;
    background-color: transparent;
    opacity: 0;
    z-index: 400000;
}

.rolling-text:hover .letter{
    transform: translateY(-100%);
}

.rolling-text .block:last-child{
    color: white;
    font-family: var(--myfontSERIF);
}

.rolling-text .letter{
    display: inline-block;
    transition: transform .6s cubic-bezier(0.76, 0, .24, 1);
}


.socials{
    display: flex;
    position: absolute;
    padding-left: 30px;
    flex-direction: column;
    display: inline-block;
    bottom: 35px;
}

.social{
    color: white;
    font-size: 1.3vw;
    display: inline-block; 
    font-weight: 200;
    opacity: 0;
}


.underline:hover{
    transform-origin: left;
    position: relative;
}

.underline::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom:0;
    left: 0;
    background-color: white;
    transition: transform .25s ease-out;
    transform-origin: bottom right;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.meeting{
    position: absolute;
    right: 3vw;
    bottom: 3.5%;
    text-align: right;
    color: white;
}

.meet{
    position: absolute;
    top: -5.5vw;
    /* background-color: red; */
    right: .5vw;
    opacity: 0;
    font-size: 1.3vw;
}

.name{
    font-weight: 300;
    font-size: 5vw;
    color: white;
    opacity: 0;
    line-height: 5vw;
}
.arrowbyName{
    transform: rotate(35deg) translate(.5vw, -.5vw);
    font-size: 3vw;
    opacity: 0;
    transition: .2s;
}
.name:hover .arrowbyName{
    opacity: 1;
}




/* inizio trailer */
.newSections{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 0;
    padding: 0;
}



/* fine trailer */




/* inizio concept */


.newConceptParagraph{
    font-size: 2vw;
    line-height: 120%;
    width: 85%;
    position: absolute;
    top: 106px;
    font-weight: 200;
    column-count: 2;
    column-gap: 60px;
    left: 3vw;
    text-align: justify;
    hyphens: auto;
}


/* fine concept */



/* inizio Sezione cards Doll */
.dollsContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 15px;
}

.imgDoll{
    position: relative;
    left: 2vw;
    top: 7vw;
    height: 35vw;
    width: 22vw;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
}

.containerDollsParagraph{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 10000;
    transition: left 0.5s ease-in-out; /* Animazione per il movimento */
}
.containerDollsParagraph.show {
    left: 0; 
}

.clickMeDolls{
    border: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;
    position: absolute;
    bottom: -2vw;
    font-weight: 200;
    color: #161616;
    cursor: pointer;
    font-size: 1.2vw;
}
.clickMeDolls:hover{
    text-decoration: none;
}

.dollsParagraph{
    font-size: 2vw;
    left: 30px;
    color: #161616;
    position: absolute;
    top: 30px;
    line-height: 120%;
    width: 80%;
    font-weight: 200;
    column-count: 2;
    column-gap: 3vw;
}

.dollName{
    position: absolute;
    color: #161616;
    bottom: 30px;
    right: 30px;
    font-size: 3vw;
    text-transform: uppercase;
    
}

.xClose{
    position: absolute;
    right: 30px;
    top: 30px;
    background: transparent;
    color: #161616;
    border: 0;
    font-size: 1.5vw;
    text-decoration: underline;
    cursor: pointer;
}
.xClose:hover{
    text-decoration: none;
}

.hera{
    background-image: url(./Media/HERA1.webp);
}
.kiana{
    background-image: url(./Media/KIANA2.webp);
}
.amani{
    background-image: url(./Media/AMANI2.webp);
}


/* fine doll cards */

/* inizio moodboard */
.imgMoodboardContainer{
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 15vw;
    left: 30px;
    display: grid;
    grid-template-columns: repeat(8, 0fr);
    grid-template-rows: repeat(1, 0fr);
    gap: 15px;
}
.imgMoodboard {
    width: 5vw;
    height: 22vw;
    object-fit: cover;
    filter: blur(0vw);
    cursor: cell;
    transition: all 0.2s ease;
}
.imgMoodboard.blur {
    filter: blur(0.2vw);
    opacity: 0.6;
}
.imgMoodboard:hover {
    width: auto;
    object-fit: contain;
}


.titleonWhite{
    mix-blend-mode: difference;
}



/* fine moodboard */



/* inizio backstage */
.newBackstage{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.sectionTitles{
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: var(--myfontSERIF);
    z-index: 50;
    color: #161616;
    
}

.mixblendmodeBackstage{
    mix-blend-mode: difference;
    color: white;
}

.backstagePhotos{
    position: absolute;
    padding: 0.5em 0.5em 4em 0.5em;
    max-width: 200px;
    max-height: 305px;
    overflow: hidden;
}

.backstagePhotos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* fine backstage */

/*  shoots inizio */
.imgShootsContainer{
    width: fit-content;
    position: relative;
    top: 14%;
    left: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: repeat(3, 0fr);
    gap: 10px;
}

.imgShoots{
    width: 10.5vw;
    height: 10.5vw;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.toSeeContainer{
    height: 41.5vw;
    width: 41.5vw;
    position: absolute;
    left: 35.8vw;
    top: 14%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
    transition: background-image 0.1s ease-in-out;
}
.toSeeSquareIndicator{
    position: absolute;
    width: 10.8vw;
    height: 10.8vw;
    outline: 1.5px solid var(--myDarkColor);
    left: -.17vw;
    top: -.17vw;
    pointer-events: none;
    transition: transform 0.3s ease;
    transform: translate(-450%,-300%);
}
.toSeeContainer p{
    z-index: 1;
    text-transform: uppercase;
    font-weight: 200;
    font-size: .8vw;
}



/* shoots fine */

/* inizio brandlist */
.brandlistContainer {
    width: 100vw;
    overflow: hidden;
    white-space: nowrap;
    background-color: #161616;
    position: absolute;
    top: 48%;
    transform: translate(0,-50%);
    height: 23%;
    display: flex;
}

.brandlist {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: scrollText 240s linear infinite;
    align-items: center;
    justify-content: center;
    cursor: crosshair;
    
}

.brandlistContent {
    font-size: 7vw;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    display: flex;
}

.brandlist:hover {
    animation-play-state: paused;
}

/* 🔄 Animazione che scorre verso sinistra */
@keyframes scrollText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* fine brandlist */

/* inizio credits */


.directors{
    position: absolute;
    top: 10vh;
    left: 30px;
    text-align: left;
}

.role{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1vw;
    word-spacing: -1px;
    line-height: 120%;
    color: #3E3E3E;
}

.names{
    text-transform: uppercase;
    font-weight: 700 ;
    line-height: 130%;
    font-size: 2vw;
}
.arrowbyNames{
    transform: rotate(35deg) translateY(.3vw);
    opacity: 0;
}
.names a:hover .arrowbyNames{
    opacity: 1;
}

.production{
    position: absolute;
    left: 1.5vw;
    top: 35vh;
}

.others{
    position: absolute;
    top: 10vh;
    right: 1.5vw;
    text-align: right;
}

.development{
    position: absolute;
    left: 1.5vw;
    text-align: left;
    bottom: 20vh;
}


/* fine credits */

.noContentMessage{
    height: 100vh;
    width: 100%;
    position: relative;
    display: none;
    background-color: #fff!important;
    overflow: hidden;
}


.textNoContent{
    font-size: 4vw;
    font-weight: 100;
    font-weight: 100!important;
    line-height: 120%;
    color: var(--myDarkColor);
    position: fixed;
    left: 30px;
    top: 30px;
}

.textNoContent span{
    font-family: var(--myfontSERIF);
    text-transform: none;
}

@media screen and (max-width: 500px) and (orientation: portrait) {
    html,body{
        overflow: visible;
        overflow-x: hidden!important;
    }
    .others{
        left: 6vw;
        text-align: left;
        top: 50vh;
        left: 1.5vw;
    }
    .development{
        bottom: 10vh;
        left: 1.5vw;
    }
    .production{
        top: 29vh;
        left: 1.5vw;
    }
    .names{
        font-size: 3vw;
    }
    .arrowbyNames{
        display: none;
    }
    .directors{
        left: 1.5vw;
    }
    .role{
        font-size: 2vw;
    }
    .brandlistContainer {
        height: 5%;
    }
    .brandlistContent {
        font-size: 5vw;
    }
    .imgShootsContainer{
        gap: 2px;
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        grid-template-rows: repeat(8, 0fr);
        left: 1vw;
        top: 20%;
    }
    .imgShoots{
        width: 15vw;
        height: 5.6vh;
        object-fit: cover;
    }
    .toSeeSquareIndicator{
        width: 15.2vw;
        height: 5.8vh;
        transform: translate(0%,-100%);
        
    }
    .toSeeContainer{
        top: 19.7%;
        left: 20vw;
        height: 53vh;
        width: 94vw;
    }
    .toSeeContainer p{
        display: none;
    }
    .imgMoodboardContainer{
        grid-template-columns: repeat(1, 0fr);
        grid-template-rows: repeat(8, 0fr);
        gap: .5vw;
        left: 1.5vw;
        
    }
    .imgMoodboard{
        width: 12vw;
        height: 10vh;
    }
    .xClose{
        font-size: 3vw;
    }
    .dollName{
        font-size: 5vw;
        bottom: 28vw;
    }
    .dollsParagraph{
        font-size: 3.5vw;
        column-count: 1;
        width: 85%;
        top: 8%;
        
    }
    .clickMeDolls{
        bottom: -4vw;
        font-size: 3vw;
    }
    .dollsContainer{
        flex-direction: column;
        gap: 7vw;
    }
    .imgDoll{
        height: 25vh;
        width: 55vw;
        background-size: contain;
        background-position: 0px 0;
    }
    .newConceptParagraph{
        column-count: 1;
        font-size: 3.5vw;
    }
    .bottomText{
        font-size: 3vw;
        bottom: 25vw;
        width: 40%;
        text-align: center;
    }
    .menu-item{
        font-size: 5vw;
        width: 150%;
    }
    .menu-items{
        top: 8%;
    }
    .item {
        height: 5.3vw;
        line-height: 5.3vw;
    }
    .movieArrow{
        display: none;
    }
    .socials{
        bottom: 28.5vw;
        line-height: 80%;
        left: -4.2vw;
    }
    .social{
        font-size: 3vw;
    }
    .meeting{
        bottom: 28vw;
        line-height: 140%;
    }
    .meet{
        position: absolute;
        top: -90%;
    }
    .sectionTitles{
        bottom: 5vw;
        right: 2vw;
    }
    .videoTrailer{
        height: 60vw;
        width: 60vw;
    }
    .square{
        top: 1.8%;
        width: 90%;
        height: fit-content;
        background-position: 50 0%;
        height: 1px!important;
        background-size: contain;
        min-height: 60vh;
        top: 10%;
        
    }
    .projectTitle{
        top: 35%;
    }
    nav .menu, .closeButton{
        font-size: 2.5vw;
    }
    .through{
        font-size: 2vw;
        top: 1.2vw;
    }
    .the{
        font-size: 1.5vw;
        top: 2.5vw;
        left: 2vw;
    }
    .curtains{
        font-size: 2vw;
        top: 3.5vw;
        left: 3.5vw;
        
    }
    
}


@media screen and (min-width: 500px) and (max-width: 1450px) {
    .noContentMessage{
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        overflow: hidden;
    }
    section, nav, .overlay {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
        height: 0 !important;
        width: 0 !important;
        overflow: hidden !important;
        position: absolute !important;
        top: -9999px !important; 
    }
}

